html {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

button {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding: 10px;
margin: 35px;
border: 2px solid darkblue;
color: white;
background-color: #0000ff;
border-radius: 75px;
text-align: center;}

button:hover {
    background-color: green;
    transition-duration: 1s;
    border: gold 4px solid;
}


a {color: white;}

